# Python virtual env
venvs

# Python __pycache__ files
**.pyc

# Logs
*.log

# Common extensions
*.mkv
*.mp4
*.jpg
*.png
*.shelf

# Externals folder (ffmpeg.exe, ffprobe.exe, etc)
src/aio/externals

# Sessions, runtime
src/aio/sessions
src/aio/runtime

# Files starting with triple underline just for quick hiding unused stuff
___*
