# Python virtual env
venvs

# Python __pycache__ files
**.pyc

# Logs
*.log

# Common extensions
*.mkv
*.mp4
*.jpg
*.png
*.shelf

# Runtime files
src/aio_enhancer/data/runtime.yaml

# Externals folder (ffmpeg.exe, ffprobe.exe, etc)
src/aio_enhancer/externals